<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<br>

<div class= "columns is-centered py-3">
  <h2 class = "is-size-3">Log in</h2>
</div>
<div class= "columns is-centered py-3">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", data: { turbo_method: :false },  class: "button is-light is-link is-small" %>
  </div>
<% end %>
</div>

<div class= "columns is-centered">
  <%= render "devise/shared/links" %>
</div>